/build/
/build-*/
.cache/
compile_commands.json
# Quest (Gradle/AGP)
quest/build/
quest/.cxx/
quest/.gradle/
quest/local.properties
quest/third_party/msquic/
quest/third_party/msquic-build/
# Quest Spatial hybrid client (Gradle/AGP)
quest-spatial/build/
quest-spatial/app/build/
quest-spatial/app/.cxx/
quest-spatial/.gradle/
quest-spatial/local.properties
